<%- include("./include/onepage.header.ejs") %>
    <img src="assets/img/private-data.svg" alt="private data">
    <div class="spiner">
        <div class="spinner-grow text-warning spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <a href="javascript:void(0);" class="btn btn-warning shadow-sm rounded-pill">Comeback to Dashboard</a>
    <%- include("./include/onepage.footer.ejs") %>