<div class="box-discord text-center">
    <a href="https://discord.gg/juD2SAKPSx" class="btn btn-icon btn-discord br-50" rel="nofollow" target="_blank">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20.726" height="22.61" viewBox="0 0 20.726 22.61">
            <path d="M3.431,19.969H16.864l-.642-2.077c.1.083,5.5,4.719,5.5,4.719V2.332A2.5,2.5,0,0,0,19.232,0L3.435,0A2.4,2.4,0,0,0,1,2.336v15.3a2.358,2.358,0,0,0,2.431,2.333ZM13.368,5.354l-.031.011.011-.011ZM6.179,6.55a5.812,5.812,0,0,1,3.328-1.2l.129.127A6.857,6.857,0,0,0,6.564,6.928,10.7,10.7,0,0,1,16.1,6.99a7.749,7.749,0,0,0-2.943-1.448l.175-.172a5.817,5.817,0,0,1,3.278,1.187,14.543,14.543,0,0,1,1.737,6.614,5.021,5.021,0,0,1-3.7,1.626s-.445-.5-.761-.942a3.8,3.8,0,0,0,2.11-1.323c-2.989,1.882-5.609,1.588-8.744.317a.073.073,0,0,1-.057-.028v-.006a.075.075,0,0,0-.057-.028H7.077a3.183,3.183,0,0,0-.32-.188A3.781,3.781,0,0,0,8.8,13.921c-.387.442-.771.944-.771.944a4.19,4.19,0,0,1-3.582-1.7A14.578,14.578,0,0,1,6.179,6.55Z" transform="translate(-1 0)" fill="#fff"/>
            <path d="M14.233,12.616a1.261,1.261,0,0,0,0-2.52v0a1.259,1.259,0,0,0,0,2.517Z" transform="translate(-1.696 -0.585)" fill="#fff"/>
            <path d="M9.615,12.616a1.261,1.261,0,0,0,0-2.52l0,0a1.259,1.259,0,0,0,0,2.517Z" transform="translate(-1.428 -0.585)" fill="#fff"/>
        </svg>                          
        <span><%=__('textDiscordChat')%></span>
    </a>
</div>