<%
    var categories = (categories) ? categories : [];
%>
<%
        categories.forEach(c => {
    %>
        <div class="col-6 mb-3">
            
            <%- include("category", {category: c}); %>
            
        </div>
<%
        })
    %>